<ion-header>
        <ion-navbar>
          <ion-title text-center *ngIf="!creatingPostForGroup">Post</ion-title>
          <ion-title text-center *ngIf="creatingPostForGroup">{{interestGroupName}}</ion-title>
        </ion-navbar>
        </ion-header>

<ion-content class="body">
        <ion-label>{{errorMessage}}</ion-label>
        <ion-textarea text-center maxlength="100" placeholder="Enter Post Name" [(ngModel)]="newPostName" autosizeInput></ion-textarea>
        <ion-textarea  text-center placeholder="Enter Post Text" [(ngModel)]="newPostText" autosizeInput></ion-textarea>
        <button ion-button text-center clear style="width: 100%" (click)="addPost();">Create Post</button>
    </ion-content>