page-home {

}
page-home {

}
@media (min-width:768px){
    .interest-name-list-col{
        width:20%;
    }
}
.body{
    background-color:  #c4f8ff;
}

.interest-scrollbar{
    height:88%;
    width:100%;
}


.main-page{
    height:500px; 
}
