<ion-header>

  <ion-navbar>

    <div *ngIf="screenWidth <= 768" class="popupTabLogout">
      <ion-buttons end>
        <button *ngIf="loginService.user != null" ion-button icon-only (click)="showPopover($event)">
          <ion-icon name="ios-more"></ion-icon>
        </button>
      </ion-buttons>
    </div>
    <ion-title text-center>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="body">
  <div *ngIf="loginService.user == null">
    <button ion-button class="button-full" (click)="login()">
      Login
    </button>
  </div>
  <div *ngIf="loginService.user != null">
    <ion-grid>
      <ion-row style="padding: 10px; border-bottom: 0.5px solid #B1C5C4">
        <ion-col col-2 class="avatar-col">
          <ion-avatar>
            <img class="avatar-image" [src]="loginService.user.photoURL" />
          </ion-avatar>
        </ion-col>
        <ion-col col-8 class="name-col">
          <div class="name-header">
            {{loginService.user.displayName}}
          </div>
        </ion-col>
        <ion-col *ngIf="screenWidth > 768" col-2>
          <button class="logoutButton" ion-button float-right (click)="logout()">
            <ion-icon name="contact">Logout</ion-icon>
          </button>
        </ion-col>
      </ion-row>

      <ion-row class="main-page">

        <ion-col *ngIf="(mobileHomeService.showSearch || screenWidth > 768)" [attr.col-3]="screenWidth > 768 ? '' : null" class="interest-name-list-col">
          <ion-searchbar [(ngModel)]="searchTerm"></ion-searchbar>
          <ion-scroll scrollY="true" class="interest-scrollbar">
            <ion-list>
              <ion-item class="interest-name-item" *ngFor="let inter of interests  | search : searchTerm" (click)="goToInterest(inter)">
                <div>{{inter.payload.val().groupName}}</div>
              </ion-item>
            </ion-list>
          </ion-scroll>
        </ion-col>

        <ion-col *ngIf="(screenWidth <= 768 && mobileHomeService.showPosts) || screenWidth > 768" class="home-posts">
          <div>
            <div class="interest-group-header">Group Posts</div>
            <div *ngIf="postsList == null || postsList.size < 1">
              There are no current posts
            </div>

            <ion-list>
              <ion-item text-wrap class="interest-post-item" *ngFor="let post of postsList">
                <div class="interest-post-name">{{post.name}}</div>
                <div class="interest-post-text">{{post.text}}</div>
              </ion-item>
            </ion-list>
          </div>
        </ion-col>

        <ion-col *ngIf="(screenWidth <= 768 && mobileHomeService.showEvents) || screenWidth > 768" class="home-events">
          <div class="interest-group-header">Group Events</div>
          <div *ngIf="postsList == null || postsList.size < 1">
            There are no current Events
          </div>events
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>