<ion-header>
    <ion-navbar>
            <div *ngIf="screenWidth <= 768" class="popupTabLogout">
                    <ion-buttons end>
                      <button ion-button icon-only (click)="showPopover($event)">
                        <ion-icon name="ios-more"></ion-icon>
                      </button>
                    </ion-buttons>
            </div>
        <ion-title text-center>{{interestName}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="body">
    <ion-row>
        <ion-col *ngIf="(screenWidth <= 768 && mobileGroupService.showPosts) || screenWidth > 768" [attr.col-6]="screenWidth > 768 ? '' : null">
            <button ion-button style="display:inline-block; text-align:center;" (click)="createPost()">Create Post</button>
            <h2>Posts</h2>
            <ion-list>
            <ion-item text-wrap class="interest-post-item" *ngFor="let post of posts">
                <div class="interest-post-name">{{post.payload.val().name}}</div>
                <div class="interest-post-text">{{post.payload.val().text}}</div>
            </ion-item>
        </ion-list>
        </ion-col>
        <ion-col *ngIf="(screenWidth <= 768 && mobileGroupService.showEvents) || screenWidth > 768" [attr.col-6]="screenWidth > 768 ? '' : null">
            <button ion-button  style="display:inline-block; text-align:center;" (click)="createEvent()">Create Event</button>
            <h2>Events</h2>
            <ion-list>
            <ion-item text-wrap class="interest-post-item" *ngFor="let event of events">
                <div class="interest-post-name">{{event.payload.val().name}}</div>
                <div class="interest-post-text">{{event.payload.val().date | date}} {{event.payload.val().time}}</div>
                <div style="float: left">{{event.payload.val().location}}</div>
            </ion-item>
        </ion-list>
        </ion-col>
    </ion-row>
    
</ion-content>