<ion-header>
  <ion-navbar>
    <ion-title>Search</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchTerm"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let g of interestGroups | search : searchTerm">
      <h1 style="float: left" (click)="goToInterestPage(g)">{{g.payload.val().groupName}}</h1>
      <button ion-button style="float: right" (click)="deleteGroup(g)">Delete</button>
      <button *ngIf="loginService.user != null" ion-button style="float: right" (click)="createUserGroup(g)">Add to my groups</button>
    </ion-item>
  </ion-list>
  <button ion-button (click)="createNewGroup(newGroupName); newGroupName = '';">
    Create new group
  </button>
  <ion-input placeholder="Enter group name" [(ngModel)]="newGroupName"></ion-input>

</ion-content>
