<ion-header>
  <ion-navbar>
    <ion-title text-center>Search</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="body">
  <ion-label text-center>{{errorMessage}}</ion-label>
  <button ion-button text-center clear style="width: 100%" (click)="createNewGroup(newGroupName); newGroupName = '';">
    Create new group
  </button>
  <ion-textarea text-center maxlength="48" placeholder="Enter group name" [(ngModel)]="newGroupName" autosizeInput></ion-textarea>
    <ion-searchbar [(ngModel)]="searchTerm"></ion-searchbar>
      <ion-list>
        <ion-item class="interest-name-item" *ngFor="let g of interestGroups | search : searchTerm">
          <ion-row>
            <ion-col (click)="goToInterestPage(g)" col-9 text-wrap>
              <h1 style="overflow:visible">{{g.payload.val().groupName}}</h1>
            </ion-col>
            <ion-col col-3>
              <button ion-button style="float:right; width:70px;" (click)="deleteGroup(g)">Delete</button>
              <button style="float:right; width:70px;" *ngIf="loginService.user != null" ion-button (click)="createUserGroup(g)">Follow</button>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
</ion-content>